---
import Layout from "../../layouts/LayoutPage.astro";
import LokiImg from '../../../images/mcu/loki.webp';
import HawkeyeImg from '../../../images/mcu/Hawkeye.webp'
import IAmGrootImg from '../../../images/mcu/iamgroot.webp'
import FalconWinterSoldierImg from '../../../images/mcu/falconwintersoldier.webp';
import MSMarvelImg from '../../../images/mcu/ms_marvel.webp'
import SheHulkImg from '../../../images/mcu/shehulk.webp';
import WandaVisionImg from '../../../images/mcu/wandavision.webp';
import MoonKnightImg from '../../../images/mcu/moonknight.webp';
import LokiCard from '../../components/mcu/LokiCard.astro';
import HawkeyeCard from '../../components/mcu/HawkEyeCard.astro';
import IAmGrootCard from '../../components/mcu/IAmGrootCard.astro';
import FalconWinterSoldierCard from "../../components/mcu/FalconWinterSoldierCard.astro";
import MSMarvelCard from '../../components/mcu/MSMarvelCard.astro';
import SheHulkCard from '../../components/mcu/SheHulkCard.astro';
import WandaVisionCard from '../../components/mcu/WandaVisionCard.astro';
import MoonKnightCard from "../../components/mcu/MoonKnightCard.astro";
---

<Layout title="MCU">
    <main>
        <div class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 flex items-center">
            <SheHulkCard title="She Hulk" src={SheHulkImg} />
            <HawkeyeCard title="Hawk Eye" src={HawkeyeImg} />
            <MoonKnightCard title="Moon Knight" src={MoonKnightImg} />
            <LokiCard title="Loki" src={LokiImg} />
            <IAmGrootCard title="I Am Groot" src={IAmGrootImg} />
            <FalconWinterSoldierCard title="Falcon Winter Soldier" src={FalconWinterSoldierImg} />
            <MSMarvelCard title="Ms Marvel" src={MSMarvelImg} />
            <WandaVisionCard title="Wanda Vision" src={WandaVisionImg} />
        </div>
    </main>
</Layout>